alembic==1.14.1
bcrypt==4.0.1
email-validator==2.2.0
fastapi==0.115.8
httpx==0.28.1
openai==1.63.2
passlib==1.7.4
psycopg[binary]==3.2.5
PyJWT==2.10.1
pytest==8.3.4
python-dotenv==1.0.1
sqlalchemy==2.0.38
uvicorn==0.34.0
